{% extends 'base.html' %}
{% block head %}

<title>Arriendo de Bicicleta</title>

{% endblock head %}
{% block content %}

        <header class="masthead">
        <br>        <br>
            <div class="container"> <div class=" text-center mt-5 ">
                </div>
                <div class="row ">
                    <div class="col-lg-7 mx-auto">
                        <div class="card mt-2 mx-auto p-4 bg-light">
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center mb-5">
                                        Gracias por Arrendar.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 d-flex justify-content-left mb-4">
                                        Tu codigo de Activacion es:
                                    </div>
                                    <div class="col-6 d-flex justify-content-center">
                                        {{cod}}
                                    </div>
                                </div>
                                <div class="row mt-12">
                                    <div class="col-12 d-flex justify-content-center">
                                        <button name="button" value="confirmar" class="btn btn-primary" onclick="location.href='{% url 'home:index'%}'">Volver</button>
                                    </div>
                                </div>                             
                            </div>
                        </div> <!-- /.8 -->
                    </div> <!-- /.row-->
                </div>
            </div>
        </header>
<section class='container'>


{% endblock %}