{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>
    Registro de Tarjeta
</title>
{% endblock head %}

{% block content %}

        <header class="masthead">
        <br>        <br>
            <div class="container"> <div class=" text-center mt-5 ">
                </div>
                <div class="row ">
                    <div class="col-lg-7 mx-auto">
                        <div class="card mt-2 mx-auto p-4 bg-light">
                            <div class="card-body bg-light">
                                <div class="container">
                                    <form role="form" method="POST">
                                        {% csrf_token %}
                                        <div class="controls">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">Ingrese Codigo:  {{codigo_form.codigo}}</div>
                                                </div>
                                            </div>
                                            {% if error == True %}
                                                <div class="col-md-12 d-flex justify-content-center alert alert-danger" role="alert"> Codigo Invalido. </div>
                                            {% endif %}
                                                <div class="col-md-12 d-flex justify-content-center"> <input type="submit" class="btn btn-primary" value="Desbloquear"> </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- /.8 -->
                    </div> <!-- /.row-->
                </div>
            </div>
        </header>
<section class='container'>
{% endblock content %}