{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>
    Registro de Tarjeta
</title>
{% endblock head %}

{% block content %}

        <header class="masthead">
        <br>        <br>
            <div class="container"> <div class=" text-center mt-5 ">
                </div>
                <div class="row ">
                    <div class="col-lg-7 mx-auto">
                        <div class="card mt-2 mx-auto p-4 bg-light">
                            <div class="card-body bg-light">
                                <div class="container">
                                    <form role="form" method="POST">
                                        {% csrf_token %}
                                        <div class="controls">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="form-group">{{form.nombre.label}} {{form.nombre}} {{form.nombre.errors}}</div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">{{form.cvv.label}} {{form.cvv}} {{form.cvv.errors}}</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">Numero de Tarjeta {{form.numero}} {{form.numero.errors}}</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">{{form.expiration.label}} {{form.expiration}} {{form.errors.expiration}}</div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-check" id="credit_cards">
                                                    Tipo Tarjeta<br><br>
                                                    <label>
                                                    <input type="radio" name="tipo_tarjeta" value="Visa" checked>
                                                    <img src="{% static 'assets/img/visa.jpg' %} " id="visa">
                                                    </label>
                                                    <label>
                                                    <input type="radio" name="tipo_tarjeta" value="Mastercard">
                                                    <img src="{% static 'assets/img/mastercard.jpg' %} " id="mastercard">
                                                    </label>
                                                    <label>
                                                    <input type="radio" name="tipo_tarjeta" value="Amex">
                                                    <img src="{% static 'assets/img/amex.jpg' %} " id="amex">
                                                    </label>
                                                    </div>
                                                </div>
                                            </div>

                                                <div class="col-md-12 d-flex justify-content-center"> <input type="submit" class="btn btn-primary" value="Registrar Tarjeta"> </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- /.8 -->
                    </div> <!-- /.row-->
                </div>
            </div>
        </header>
<section class='container'>
{% endblock content %}