{% extends 'base.html' %}
{% block head %}

<title>Home</title>

{% endblock head %}
{% block content %}
<br><br><br><br>
            <div class="row">
                <div class="card mt-2 mx-auto p-4 bg-light col-11">
                    <div class="card-body bg-light">

            <table class="table">
            <div><h3 class="d-flex justify-content-center">BICICLETAS</h3></div>
                <tr>
                    <th>ID</th>
                    <th>ESTADO</th>
                    <th>ARRENDAR</th>
                    <th>DESBLOQUEAR</th>
                    <th>FINALIZAR VIAJE</th>
                </tr>

                {% for i in bicicletas %}
                    <tr>
                       <td>{{i.id}}</td>
                        {% if i.estado == True %}
                        <td>Desbloqueado</td>
                        {% else %}
                        <td>Bloqueado</td>
                        {% endif %}
                        <td><button name="button" value="arrendar" class="btn btn-primary" onclick="location.href='{% url 'home:seleccionar_arriendo' i.id %}'">Arrendar</button></td>
                        <td><button name="button" value="desbloquear" class="btn btn-primary" onclick="location.href='{% url 'home:desbloquear' i.id %}'">Desbloquear</button></td>
                        {% if i.estado == True %}
                        <td><button name="button" value="bloquear" class="btn btn-primary" onclick="location.href='{% url 'home:bloquear' i.id %}'">Finalizar Viaje</button></td>
                        {% endif %}                        
                    </tr>

                {% endfor %}
            </table>
                    </div>
                </div>
            </div>
{% endblock content %}