{% extends 'base.html' %}
{% block head %}

<title>Arriendo de Bicicleta</title>

{% endblock head %}
{% block content %}

        <header class="masthead">
        <br>        <br>
            <div class="container"> <div class=" text-center mt-5 ">
                </div>
                <div class="row ">
                    <div class="col-lg-7 mx-auto">
                        <div class="card mt-2 mx-auto p-4 bg-light">
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center mb-5">
                                        Detalle de Arriendo
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 d-flex justify-content-left mb-4">
                                        Bicicleta
                                    </div>
                                    <div class="col-8 d-flex justify-content-center">
                                        {{bicicleta.id}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 d-flex justify-content-left mb-4">
                                        Arriendo
                                    </div>
                                    <div class="col-8 d-flex justify-content-center">
                                        {{arriendo.descripcion}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 d-flex justify-content-left mb-4">
                                        Tarjeta de credito
                                    </div>
                                    <div class="col-8 d-flex justify-content-center">
                                        {{tarjeta.numero}} <br> {{tarjeta.tipo}}
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-6 d-flex justify-content-end">
                                        <button name="button" value="confirmar" class="btn btn-primary" onclick="location.href='{% url 'home:pago_finalizado' bicicleta.id %}'">Confirmar</button>
                                    </div>
                                    <div class="col-6 d-flex justify-content-start">
                                        <button name="button" value="cancelar" class="btn btn-primary" onclick="location.href='{% url 'home:index'%}'">Cancelar</button>
                                    </div>
                                </div>                             
                            </div>
                        </div> <!-- /.8 -->
                    </div> <!-- /.row-->
                </div>
            </div>
        </header>
<section class='container'>


{% endblock %}