{% extends 'base.html' %}
{% block head %}

<title>Arriendo de Bicicleta</title>

{% endblock head %}
{% block content %}

        <header class="masthead">
        <br>        <br>
            <div class="container"> <div class=" text-center mt-5 ">
                </div>
                <div class="row ">
                    <div class="col-lg-7 mx-auto">
                        <div class="card mt-2 mx-auto p-4 bg-light">
                            <div class="card-body bg-light">
                                <table class="table">
                                    <div><h3 class="d-flex justify-content-center">Tarjeta</h3></div>
                                    <br>
                                    {% if tarjeta %}
                                        {% for i in tarjeta %}
                                            <tr>
                                            <td>{{i.numero}}<br>{{i.tipo}}</td>
                                                <td><button name="button" value="stock" class="btn btn-primary" onclick="location.href='{% url 'home:resumen' i.id %}'">Seleccionar</button></td>
                                            </tr>

                                        {% endfor %}
                                    {% endif %}
                                            <tr>
                                            <td>Agregar nueva Tarjeta</td>
                                                <td><button name="button" value="stock" class="btn btn-primary" onclick="location.href='{% url 'home:agregar_tarjeta' %}'">Agregar</button></td>
                                            </tr>

                                </table>                            
                            </div>
                        </div> <!-- /.8 -->
                    </div> <!-- /.row-->
                </div>
            </div>
        </header>
<section class='container'>


{% endblock %}