{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Inicio</title>
{% endblock head %}
{% block content %}
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Movilizate con Mobike</h1>
                    <h2 class="text-white-80 mx-auto mt-2 mb-5">Mobike la Reina, una nueva forma de movilizacion</h2>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="mastsection about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">¿Que es Mobike?</h2>
                        <p class="text-white-80">
                            Mobike es una solución para la problematica que tiene la comuna de la Reina ultimamente, entregando una
                            opcion saludable para viajar a traves de la comuna mediante el arriendo de bicicletas, puedes<a href="{% url 'mantenedor_usuario:inicio_sesion' %}"> iniciar sesion aquí</a>
                            o <a href="{% url 'mantenedor_usuario:registro' %}"> registrarte aquí.</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-black" id="projects">
        </section>
        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-2">Registrate Aquí</h2>
                        <p class="text-white">o inicia sesión</p>
                        <div class="inline d-flex">
                            <button class="btn btn-primary mx-auto" type="button" onclick="location.href='{% url 'mantenedor_usuario:registro' %}'">Registrarse</button>
                                                        <button class="btn btn-primary mx-auto" type="button" onclick="location.href='{% url 'mantenedor_usuario:inicio_sesion' %}'">Inicia Sesion</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}