{% extends 'base.html' %}

{% block head %}
<title>
    Registro de Usuario
</title>
{% endblock head %}

{% block content %}
{% if registration_form.non_field_errors %}
    <div class="aler alert-danger" role="alert">
    {% for error in registration_form.non_field_errors %}
        {{error}}
    {% endfor %}
{% endif %}

        <header class="masthead">
        <br>        <br>
            <div class="container"> <div class=" text-center mt-5 ">
                </div>
                <div class="row ">
                    <div class="col-lg-7 mx-auto">
                        <div class="card mt-2 mx-auto p-4 bg-light">
                            <div class="card-body bg-light">
                                <div class="container">
                                    <form role="form" method="POST">
                                        {% csrf_token %}
                                        <div class="controls">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">{{registration_form.username.label}}  {{registration_form.username}} {{registration_form.username.errors}}</div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">{{registration_form.email.label}}  {{registration_form.email}} {{registration_form.email.errors}}</div>
                                                </div>
                                            </div>
                                        
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">{{registration_form.run.label}}  {{registration_form.run}} {{registration_form.run.errors}}</div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">{{registration_form.dv.label}}  {{registration_form.dv}}</div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">{{registration_form.dv.errors}}</div>
                                                </div>                                            
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">{{registration_form.first_name.label}} {{registration_form.first_name}} {{registration_form.first_name.errors}}</div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">{{registration_form.last_name.label}} {{registration_form.last_name}} {{registration_form.last_name.errors}}</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">{{registration_form.password1.label}} {{registration_form.password1}} {{registration_form.password1.errors}}</div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">{{registration_form.password2.label}} {{registration_form.password2}}</div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">{{registration_form.password2.errors}}</div>
                                                </div>

                                                <div class="col-md-12 d-flex justify-content-center"> <input type="submit" class="btn btn-primary" value="Registrarse"> </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- /.8 -->
                    </div> <!-- /.row-->
                </div>
            </div>
        </header>
<section class='container'>


{% endblock %}